/* line 2, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav a {
  color: #ffffff;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;
}

/* line 9, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.navmenu {
  top: 15px;
}

/* line 12, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside {
  margin-top: 30px;
}

/* line 15, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav li {
  height: 50px;
  background-color: #8BC53D;
  width: 100%;
}

/* line 20, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav {
  background-color: #458b74;
}

/* line 23, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
body {
  background-color: #eeffdd;
  padding: 10px 20px;
}

/* line 27, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
footer {
  position: absolute;
  bottom: -1000px;
  height: 0px;
  width: 0px;
}

/* line 33, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside li {
  height: 60px;
  background-color: #feffbc;
  width: 100%;
}

/* line 38, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside ul {
  padding: 0;
}

/* line 41, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.form-control {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

/* line 49, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.form-text {
  font-size: 12px;
}

/* line 52, /Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.no-padding {
  padding: 0;
}
