/* line 2, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav a {
  color: #ffffff;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;
}

/* line 9, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.navmenu {
  top: 15px;
}

/* line 12, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside {
  margin-top: 30px;
}

/* line 15, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav li {
  height: 50px;
  background-color: #8BC53D;
  width: 100%;
}

/* line 20, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
nav {
  background-color: #458b74;
}

/* line 23, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
body {
  background-color: #eeffdd;
  padding: 10px 20px;
}

/* line 27, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
footer {
  position: absolute;
  bottom: -1000px;
  height: 0px;
  width: 0px;
}

/* line 33, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside li {
  height: 60px;
  background-color: #feffbc;
  width: 100%;
}

/* line 38, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
aside ul {
  padding: 0;
}

/* line 42, C:/Users/kei/Documents/Heroku/chorostore/app/assets/stylesheets/style.scss */
.no-padding {
  padding: 0;
}
