<div class="row">
  <div class="info-title">
    <h1>Foristería Cynthia</h1>
  </div>
  <div class="center-md">
    <%= image_tag "http://floristeriacynthia.cl/imagenes/flor_baner.jpg", class: "img-responsive"%>
  </div>
  <div class="desc">
    <p>
      Somos una empresa familiar que nació hace mas de 30 años, lo que nos ha otorgado una experiencia relevante en el rubro, aportando a nuestros clientes soluciones y asesorías que contemplan el diseño, realización de arreglos florares y soluciones de decoración para distintas ocasiones. Contamos con una gran variedad de flores naturales nacionales e importadas, las cuales según el motivo, acompañamos con accesorios de excelente calidad. Ofrecemos arreglos personalizados con las preferencias que nos indiquen, además de decoración de oficinas, iglesias y salones de eventos.</br>

    Ofrecemos un servicio integral de solicitud y despacho de nuestros arreglos con el fin de hacerles más cómoda e informada la elección de su pedido. </br>

    El despacho a domicilio está incluido en el valor total del producto, acotado por un cierto un radio de envío, lo cual debe ser previamente consultado.</br>

    También tenemos despacho a todo el país.
    </p>
  </div>

</div>
