
nav a {
  color: red;
  text-decoration: none;

}
nav li {
  height: 30px;
  background-color: #34b7ea;
  width: 100%;
}
nav {
  background-color: #458b74;
}
nav .logo{
  max-height: 30px;

}
body {
  background-color: #EEFFDD;
  padding: 10px 20px;
}
footer {
  position: absolute;
  bottom: -1000px;
  height: 0px;
  width: 0px
}
aside li {
  height: 60px;
  background-color: #feffbc;
  width: 100%;
}
aside ul{
  padding: 0;
}

.no-padding {
  padding: 0;
}
