.mono{
  text-decoration: none;
  display: inline-block;
  width: 50%;
  height: 30px;
}
nav a {
  color: red;
  text-decoration: none;

}
nav .logo{
  max-height: 30px;

}
body {
  background-color: #5A9DD6;
}
