
nav a {
  color: red;
  text-decoration: none;

}
nav {
  background-color: #458b74;
}
nav .logo{
  max-height: 30px;

}
body {
  background-color: #c2eafe;
  padding: 10px 20px;
}
footer {
  position: absolute;
  bottom: -1000px;
  height: 0px;
  width: 0px
}

.no-padding {
  padding: 0;
}
