
nav a {
  color: #ffffff;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;

}
.navmenu{
  top: 15px;
}
aside {
  margin-top: 30px;
}
nav li {
  height: 50px;
  background-color: #8BC53D;
  width: 100%;
}
nav {
  background-color: #458b74;
}
body {
  background-color: #eeffdd;
  padding: 10px 20px;
}
footer {
  position: absolute;
  bottom: -1000px;
  height: 0px;
  width: 0px
}
aside li {
  height: 60px;
  background-color: #feffbc;
  width: 100%;
}
aside ul{
  padding: 0;
}

.no-padding {
  padding: 0;
}
